ul {
    padding-left: 5.5rem;
    
  }

.navbar-nav {
    margin-left: 10.2rem;
}

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}

img {
    margin-left: 5.2rem;
    border-radius: 50%;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

.css-nknee7 {
    top: 3.9rem;
}

.css-hxt7ib {
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}